* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    align-items: center;
    font-size: 30px;
    padding: 0 10px;
    height: 10%;
    background-color: #6d8ad8;
}
.listIcon {
    height: 50px;
    padding: 0 10px;
}
.mainContentContainer {
    flex-grow: 1;
    display: flex;
}
.sidebar {
    flex-basis: 250px;
    background-color: #D3D3D3;
    padding: 30px;
}
.projectView {
    flex: 3 1 0;
}

